<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="ram-aravindh">
<title>MindLop</title>

<link rel="stylesheet" type="text/css" href="styles/plugins/settings.css">
<!-- RS5.0 Layers and Navigation Styles -->
<link rel="stylesheet" type="text/css" href="styles/plugins/layers.css">
<link rel="stylesheet" type="text/css" href="styles/plugins/navigation.css">

<!-- Bootstrap Core CSS -->
<link href="styles/plugins/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="styles/plugins/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="styles/plugins/ionicons.min.css" rel="stylesheet">
<link href="styles/plugins/main.css" rel="stylesheet">
<link href="styles/plugins/style.css" rel="stylesheet">
<link href="styles/plugins/responsive.css" rel="stylesheet">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.scripts/plugins/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
{% block content %}{% endblock %}

</body>
<footer>
  <script src="scripts/plugins/jquery-1.12.4.min.js"></script>
  <script src="scripts/plugins/bootstrap.min.js"></script>
  <script src="scripts/plugins/own-menu.js"></script>
  <script src="scripts/plugins/jquery.isotope.min.js"></script>
  <script src="scripts/plugins/jquery.lighter.js"></script>
  <script src="scripts/plugins/owl.carousel.min.js"></script>

  <!-- RS5.0 Core JS Files -->
  <script type="text/javascript" src="scripts/plugins/jquery.themepunch.tools.min.js?rev=5.0"></script>
  <script type="text/javascript" src="scripts/plugins/jquery.themepunch.revolution.min.js?rev=5.0"></script>
  <script type="text/javascript" src="scripts/plugins/revolution.extension.actions.min.js"></script>
  <script type="text/javascript" src="scripts/plugins/revolution.extension.carousel.min.js"></script>
  <script type="text/javascript" src="scripts/plugins/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="scripts/plugins/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="scripts/plugins/revolution.extension.migration.min.js"></script>
  <script type="text/javascript" src="scripts/plugins/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="scripts/plugins/revolution.extension.parallax.min.js"></script>
  <script type="text/javascript" src="scripts/plugins/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="scripts/plugins/revolution.extension.video.min.js"></script>

  <!-- Begin map script-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf0dPCQ0C7oVF0WFKhuyz7v7oWei3vFPI "></script>
  <script src="scripts/plugins/main.js"></script>
</footer>
</html>
